@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body {
    background-color: rgba(192, 121, 233);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Add this */
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container{
background:white;
padding:40px;
width:700px;
max-width:90%;
border-radius:20px;
box-shadow:
0 15px 30px rgba(0,0,0,.15);
text-align:center;
}

h1{
margin-bottom:10px;
}

.subtitle{
margin-bottom:20px;
color:#666;
}

select{
width:100%;
padding:14px;
border-radius:10px;
margin-bottom:25px;
border:2px solid #ddd;
font-size:16px;
}

.joke{
min-height:120px;
font-size:24px;
line-height:1.6;
padding:20px;
background:#fafafa;
border-radius:15px;
margin-bottom:20px;
}

.btn{
padding:15px 30px;
background:#9f68e0;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
font-size:16px;
transition:0.3s;
}

.btn:hover{
transform:translateY(-3px);
}

.btn:disabled{
opacity:.6;
cursor:not-allowed;
}
